{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2 class="mb-4">
            Nuevo Producto
        </h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-success">
                Guardar Producto
            </button>

            <a href="/productos/" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}